<form #registerForm (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="mb-3 form-floating">
    <input class="form-control me-2" type="text" name="username" [(ngModel)]="model.username" placeholder="Username">
    <label>Username</label>
  </div>
  <div class="mb-3 form-floating">
    <input class="form-control me-2" name="password" type="password" [(ngModel)]="model.password" placeholder="Password"
    type="password">
    <label>Password</label>
  </div>

  <button class="btn btn-success me-2" type="submit">Register</button>
  <button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button>
</form>


<!-- <div class="mb-3">
  <label>Who is your favorites user?</label>
  <select class="form-select">
    @for(user of usersFormHomeComponent(); track $index){
      <option [value]="user.userName">{{user.userName}}</option>
    }
  </select>
</div> -->