<div class="text-center mt-3">
  <h2>{{getTitle()}}</h2>
</div>
<div class="container mt-3">
  <div class="d-flex">
    <div class="btn-group ms-1">
      <button class="btn btn-primary" btnRadio="liked" [(ngModel)]="predicate" (click)="loadLikes()">Members I like
      </button>
    </div>
    <div class="btn-group ms-1">
      <button class="btn btn-primary" btnRadio="likedBy" [(ngModel)]="predicate" (click)="loadLikes()">Members who like
        me
      </button>
    </div>
    <div class="btn-group ms-1">
      <button class="btn btn-primary" btnRadio="mutual" [(ngModel)]="predicate" (click)="loadLikes()">Mutual
      </button>
    </div>
  </div>
  <div class="row mt-3">
    @for (member of likeService.paginatedResult()?.items; track member.id) {
      <div class="col-2">
        <app-member-card [member]="member"></app-member-card>
      </div>
    }
  </div>
</div>
@if (likeService.paginatedResult()?.pagination) {

  <div class="d-flex justify-content-center">
    <pagination
    [boundaryLinks]="true"
    [totalItems]="likeService.paginatedResult()?.pagination!.totalItems"
    [itemsPerPage]="likeService.paginatedResult()?.pagination!.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="10"
    [(ngModel)]="likeService.paginatedResult()?.pagination!.currentPage"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">

  </pagination>
</div>

}

